<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>org.uploadboard</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  	<resource-ref>
		<description>ConnectionPool</description>
		<res-ref-name>jdbc/myOracle</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>org.uploadboard.controller.FrontController</servlet-class>
		<!--  서블릿이 동작할 때 파라미터 초기화 -->
		<init-param>
			<param-name>properties</param-name>
			<param-value>/WEB-INF/properties/handler.properties</param-value>
		</init-param>
	</servlet>
	
	<!-- 
	do 로 끝나는 request가 오면 FrontController 가 request 분석 후 맞는 Handler에게 전달
	script.js 의 경우는 FrontController가 관여하지 못하도록!
	 -->
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>